<!-- app/views/sessions/new.html.erb -->

<header class="page-header">
  <h1>Login</h1>
</header>
<div class="row">
  <div class="col-sm-6 col-sm-offset-1">

    <%= form_tag '/login' do %>

      <% if flash[:error] %>
        <div class="alert alert-danger">
          <strong><%= flash[:error] %></strong>
        </div>
      <% end %>

      Email: <%= text_field_tag :email %><br>
      Password: <%= password_field_tag :password %><br>
      <%= submit_tag "Submit" %>

    <% end %>
  </div>
</div>