<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thank you for your order.</p>
    <h2>Order #<%=@order.id %></h2>
    <hr>
    <% @order.line_items.each do |i| %>
      <p>
       <%= i.quantity %>
        <%= i.product.name %> @
       <%= humanized_money_with_symbol i.item_price %> each<br>
       SUBTOTAL: <%= humanized_money_with_symbol i.total_price %>
      </p>
    <% end %>
    <hr>
    <p>TOTAL: <%= humanized_money_with_symbol @order.total %></p>
    <hr>
  </body>
</html>